@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Audiowide', cursive;
    color: whitesmoke;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #060c21;
}

.card {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21; /* Change */
    transition: .5s;

}

.card:hover {
    height: 400px;
}

.card .card__image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    opacity: .3;
    box-sizing: border-box;
    transition: .5s;
    background-size: cover;
    background-position: center;
}

.card:hover .card__image-container {
    height: calc(100% - 100px);
    opacity: 1;
}

.card:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;

}

.card:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -2;
    filter: blur(40px);

}

.card:before,
.card:after   {
    background: linear-gradient(235deg, #2196f3, #010615, #F00000);
}

.card:nth-child(2):before,
.card:nth-child(2):after   {
    background: linear-gradient(235deg, #2196f3, #010615, #F00000);
}

.card:hover:before,
.card:hover:after   {
    background: linear-gradient(235deg, #772aff, #010615, #2196f3);
}

.card .card__content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0,0,0,.04);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.card:hover .card__content {
    opacity: 1;
}

.card__header {
  text-align: center;
}
.card__title {
    font-size: 20px;

    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card__subtitle {
    font-size: 14px;

    font-weight: 200;
    letter-spacing: 2px;
}

.card__year {
  font-size: 12px;

}

.bg-1 {
  background-image: url('./img/01.jpeg');
}
.bg-2 {
  background-image: url('./img/02.jpeg');
}
.bg-3 {
  background-image: url('./img/03.jpg');
}
.bg-4 {
  background-image: url('./img/04.jpg');
}
.bg-5 {
  background-image: url('./img/05.jpeg');
}
.bg-6 {
  background-image: url('./img/06.jpg');
}

.bg-7 {
  background-image: url('./img/07.jpg');
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__link {
  align-self: flex-start;
}
.page__header {
  margin-bottom: 16px;
}
.page__opening-crawl {
  margin-bottom: 16px;
}
.page__info {
  display: flex;
  gap:20px;
}
.page__caption {
  margin-bottom: 12px;
}
.page__list {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.page__list-item {
  list-style: none;
}


/*------*/
body {
  background: black url("https://s3.amazonaws.com/csstarwars/background.png");
}

.page__stage {
  margin-bottom: 20px;
  height: 300px;
  width: 700px;
  overflow: hidden;

  -webkit-perspective-origin: center 150px;
  -webkit-perspective: 800;
}


#crawl {
  color: rgb(252,223,43);
  font-family: sans-serif;
  text-align: center;
  font-size: 36px;
  opacity: 0;
  -webkit-animation: crawl 120s linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
  -webkit-transform-style: preserve-3d;
}

#crawl p.title {
  font-family: "FranklinGothicMediumCondRegul", sans-serif;
  text-transform: uppercase;
  font-size: 96px;
  -webkit-transform: scaleX(0.7);
}

#crawl p {
  white-space: pre;
}

@-webkit-keyframes fade-in-out {
  0%   { opacity:0; }
  16%  { opacity:1; }
  84%  { opacity:1; }
  100% { opacity:0; }
}

@-webkit-keyframes crawl {
  0%   { -webkit-transform: rotateX(60deg) translateZ(200px) translateY(500px);  opacity:1; }
  /* 40%  { -webkit-transform: rotateX(80deg) translateZ(200px) translateY(-340px);  opacity:1; }
  80%  { -webkit-transform: rotateX(80deg) translateZ(200px) translateY(-1780px); opacity:0; } */
  100% { -webkit-transform: rotateX(60deg) translateZ(200px) translateY(-300%); opacity:0; }
}
